<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<p>
    <a href="/upload/list">Back to receptionist list</a>
</p>
<body>
<p th:text="${receptionist.getId()}"></p>
<p th:text="${receptionist.getName()}"></p>
<p th:text="${receptionist.getAge()}"></p>
<p th:text="${receptionist.getAddress()}"></p>
<p th:text="${receptionist.getHobby()}"></p>
<img width="150px" height="200px" th:src="@{'/image/' + ${receptionist.getAvartar()}}">
</body>
</html>